/* LOCAL FONTS  */
@font-face {
  font-family: Söhne Buch;
  src: url(../src/assets/Sohne-Buch.woff);
}

@font-face {
  font-family: Söhne Kraftig;
  src: url(../src/assets/Sohne-Kraftig.woff);
}
@font-face {
  font-family: Söhne Breit;
  src: url(../src/assets/SohneBreit-Dreiviertelfett.woff);
}


/* GENERAL STYLE */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #E5E5E5 !important;
  font-family: Söhne Kraftig;

}

p{
  margin-bottom: unset !important; 
}

/* COMPONENTE APP */


.container-principal{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}


/* NAVBAR */
.navbar-principal{
  height: 80px;
  left: 0px;
  top: 0px;
  width: 100%;
  background: linear-gradient(90deg, #FFFFFF 15.74%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.brand{
  min-width: 225px;
  min-height: 80px; 
  background: #E22623;
  border-radius: 0 0 10px 0 ;
  font-size: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  font-weight: 400;
  font-family: Söhne Breit;
}

.brand p {
  padding-top: 10px;
}


.navbar-conteiner{
  width: calc(100% - 80px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-search{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin: 30px 34px;
}

.navbar-search svg{
  margin-right: 22px;
  font-size: 2rem;
}

.searcher{
  font-family: Söhne Buch;
  border: unset;
  width: 600px;
  height: 24px;
  font-size: 18px;
  background-color: transparent;
  color: #A3A3A0; 
  cursor: pointer;
}


.searcher:focus-visible{
  outline: unset;
}


.navbar-icons{
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}


.icon, .progetti-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f1f1ee;
  border-radius: 8px;
  margin: 0 8px;
  color: #323232;
}

.progetti-icon{
  padding: 8px 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: Söhne Kraftig;
  
}

.progetti-icon p{
  font-size: 16px;
  padding-left: 5px;
}

.icon{
  padding: 8px, 16px, 8px, 16px;
  width: 56px;
  height:40px;
}

.icon:hover, .progetti-icon:hover{
  background-color: #E0E0DD;
}

.user-image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;

}

.user-image img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}


.main{
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: #E5E5E5;
}


.tittle-conteiner{
  font-family: Söhne Buch;
  width: 600px;
  height: calc(50vh - 80px);
  line-height: 72.6px;
  color: #A3A3A0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 79px;
  margin-bottom: 30px;

}

.tittle-conteiner h1{
  font-size: 68px;
  font-family: Söhne Kraftig;
  line-height: 110%;
  font-feature-settings: 'ss01' on;
}


.tittle-conteiner span{
  color: rgb(50, 50, 50);
}

.tittle-conteiner-children{
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}


.dropdown{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 16px 4px;
  color: #323232;
  background-color: #F1F1EE;
  border-radius: 8px;
  min-width: 56px;
  min-height: 40px;
  cursor: pointer;
  margin-bottom: 25px;
}

.dropdown svg{
  font-size: 2rem;
}

.dropdown:hover{
  background-color: #CCCCC9 ;
}
.dropdown-close{
  display: none;
}

.dropdown-open{
  width: 311px;
  height: 297px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 8px;
  left: 368px;
  top: calc(50vh /2 + 77px);
  z-index: 10;
  box-shadow: 0px 4px 16px rgba(50, 50, 50, 0.3);
  border-radius: 8px;
}


.dropdown-items-text{
  width: 311px;
  height: 297px;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: unset;
  padding: 24px;
}

.items, .items-tittle {
  color: #323232;
  line-height: 138% ;
  font-family: Söhne Buch;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.items{
  cursor: pointer;
  font-weight: bold;
}

.items svg{
  margin-right: 8px;
  
}



/* CAROUSEL COMPONENT */

.content-carousel-principal{
  width: 100%;
  padding: 0 0 0 79px;
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.content-carousel-top{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 32px;

}

.content-carousel-top p{
  font-family: Söhne Kraftig;
  font-size: 28px;
}

.content-carousel-bottom{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 64px;
}


.content-text{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #323232;
}

.content-text svg {
  color: #323232

}

.content-text p{
  font-family: Söhne Buch;
  font-size: 28px;
  line-height: 36px;
  font-feature-settings: 'ss01' on;
  font-weight: bold;
}


.newproject{
  min-width: 15rem;
  height: 25rem;  
  background: #E0E0DD;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
  font-family: Söhne Kraftig;

}


.newproject svg{
  font-size: 50px;
  margin-bottom: 23px;
}




.arrow-conteiner{
  margin-right: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.arrow-conteiner div{
  margin: 0 4px;
  width: 56px;
  height: 40px;
  background: #E0E0DD;
  border-radius: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-conteiner svg{ 
  margin: 4px;
  color: #A3A3A0;
  font-size: 28px; 
 
}

.arrow-conteiner div svg:hover{
  color: #323232;
  cursor: pointer;
}


/* CAROUSEL STYLE */

.slider__content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;
  width: 90vw;
  margin-left: 30px;
}

.slider{
    margin: 32px 0;
    width: 90vw;
    min-height: 20rem;
    border-radius: 16px;
  }
  
  .slider-element{
    display: flex;
  }
  
  .content-carousel{
    max-width: 71vw;
    height: 90%;
    object-fit: cover;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }
  

  .project{
    min-width: 33rem;
    height: 25rem;
    background: #323232;
    border-radius: 16px;
  }
  

  .slick-active div{
    width: 90% !important;
  }

.card-text{
  margin: 24px 24px 0 24px;
}

.text-tittle{
  color: white;
  font-size: 20px;
}

.card-subtittle{
  font-size: 12px;
  color: #A3A3A0;
}


.card-button{
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: 10px 20px;
}

.card-button p{
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 12px;
  margin: 0 4px 0 0 ;
}

.name{
  background-color: #C7C79E;
}

.vip{
  background-color: #FFDC8E;
}

.tag{
  background-color: #636363;
  color: #EBEBE7;
}