/* LOCAL FONTS  */
@font-face {
  font-family: Söhne Buch;
  src: url(../src/assets/Sohne-Buch.woff);
}

@font-face {
  font-family: Söhne Kraftig;
  src: url(../src/assets/Sohne-Kraftig.woff);
}
@font-face {
  font-family: Söhne Breit;
  src: url(../src/assets/SohneBreit-Dreiviertelfett.woff);
}


/* GENERAL STYLE */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #E5E5E5 !important;
  font-family: Söhne Kraftig;
}

p{
  margin-bottom: unset !important; 
}



/* COMPONENTE APP */


.container-principal{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}



/* NAVBAR */

.navbar-principal{
  height: 80px;
  left: 0px;
  top: 0px;
  width: 1456px;
  background: linear-gradient(90deg, #FFFFFF 15.74%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.brand{
  width: 240px;
  height: 80px; 
  background: #E22623;
  border-radius: 0 0 10px 0 ;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  font-weight: 400;
  font-family: Söhne Breit;
}

.brand-tittle {
  font-size: 32px;
  line-height: 32px;
  padding-top: 10px;
}


.navbar-conteiner{
  width: calc(1456px - 240px);
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  
}

.navbar-search{
  width: 624px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 34px;
}

.navbar-search svg{
  margin-right: 22px;
  font-size: 2rem;
}

.searcher{
  font-family: Söhne Buch;
  border: unset;
  width: 100%;
  height: 24px;
  font-size: 18px;
  background-color: transparent;
  color: #A3A3A0; 
  cursor: pointer;
}


.searcher:focus-visible{
  outline: unset;
}


.navbar-icons{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}


.icon, .progetti-icon, .notification-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f1f1ee;
  border-radius: 8px;
  color: #323232;
  cursor: pointer;
}

.icon{
  margin-right: 8px;
}

.notification-icon{
  margin-left: 12px;
}

.progetti-icon{
  padding: 8px 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: Söhne Kraftig;
  margin-right: 8px;
}

.progetti-icon p{
  font-size: 16px;
  padding-left: 5px;
}

.icon, .notification-icon{
  padding: 8px 16px;
}

.icon:hover, .progetti-icon:hover, .notification-icon:hover{
  background-color: #E0E0DD;
  transition: .5s;

}

.user-image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.user-image img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}


/* MAIN COMPONENT */

.main{
  width: 1456px;
  height: 876px;
  background-color: #E5E5E5;
}


.tittle-conteiner{
  font-family: Söhne Buch;
  width: 50%;
  height: 388px;
  line-height: 72.6px;
  color: #A3A3A0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 79px;
}

.tittle-conteiner-children{
  width: 580px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}


.tittle-conteiner-children h1{
  font-size: 66px;
  font-family: Söhne Kraftig;
  line-height: 110%;
  font-feature-settings: 'ss01' on;
}

.tittle-conteiner span{
  color: rgb(50, 50, 50);
}


.dropdown{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: #323232;
  background-color: #E0E0DD;
  border-radius: 8px;
  width: 56px;
  height: 40px;
  padding: 14px 17px;
  cursor: pointer;
}

.dropdown svg{
  font-size: 2rem;
}

.dropdown:hover{
  background-color: #CCCCC9 ;
  transition: .5s;

}
.dropdown-close{
  display: none;
}

.dropdown-open{
  position: absolute;
  width: 311px;
  height: 297px;
  background: #FFFFFF;
  border-radius: 8px;
  left: -255px;
  top: 50px;
  z-index: 10;
  box-shadow: 0px 4px 16px rgba(50, 50, 50, 0.3);
  border-radius: 8px;
}


.dropdown-items-text{
  width: 311px;
  height: 297px;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: unset;
  padding: 24px;
}

.items, .items-tittle {
  color: #323232;
  line-height: 138% ;
  font-family: Söhne Buch;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.items{
  cursor: pointer;
  font-weight: bold;
}

.items svg{
  margin-right: 8px; 
}



/* CAROUSEL COMPONENT - GENERAL */

.content-carousel-principal{
  width: 1456px;
  padding: 0 0 0 79px;
  height: 488px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content-carousel-top{
  width: 100%;
  margin: 0 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content-carousel-top p{
  font-family: Söhne Kraftig;
  font-size: 28px;
}

.arrow-conteiner{
  margin-right: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.arrow-conteiner div{
  margin: 0 4px;
  width: 56px;
  height: 40px;
  background: #E0E0DD;
  border-radius: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-conteiner svg{ 
  margin: 4px;
  color: #A3A3A0;
  font-size: 28px; 
 
}

.arrow-conteiner div svg:hover{
  color: #323232;
  cursor: pointer;
  transition: .5s;

}


.content-carousel-bottom{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 32px 24px 0 0;
}


.newproject{
  min-width: 196px;
  min-height: 352px; 
  background: #E0E0DD;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: Söhne Kraftig;
  margin: 0px 24px 0 0;
}

.newproject svg{
  font-size: 50px;
  margin-bottom: 23px;
}



/* CAROUSEL STYLE */

.slider__content{
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  width: 1168px;
  height: 360px;
  overflow: hidden;
}

.slider{
    width: 1360px;
    height: 360px;
    border-radius: 16px;
  }
  
/* REACT SLICK CLASES */
.slick-slide {
  margin: 0 12px;
  width: 416px;
}

.slick-list {
  margin: 0 12px;
}

.slick-active{
  width: 416px;
} 

.slick-current{
  width: 416px;
}


/* CARDS CLASES */
.project{
    height: 352px;
    background: #323232;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.project-content-top{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin: 30px;
}

.card-text{
  font-family: Söhne Buch;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 16px;
}

.card-text-tittle-content{
  color: white;
  font-size: 24px;
}

.card-text-subtittle{
  font-size: 16px;
  color: #A3A3A0;
  line-height: 24px;
}

.card-button{
  display: flex;
  flex-flow: row nowrap;
  width: 85%;
}

.card-button p{
  border-radius: 10px;
  padding: 4px 12px;
  margin: 0 8px 0 0;
  font-family: Söhne Buch;
  font-size: 14px;
  line-height: 14px;
}

.name{
  background-color: #C7C79E;
}

.vip{
  background-color: #FFDC8E;
}

.tag{
  background-color: #636363;
  color: #EBEBE7;
}

.project-content-bottom{
  font-family: Söhne Buch;
  min-width: 35rem;
  height: 240px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 30px;
}

.project-content-tittle p{
  padding: 0 0 16px 0px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.project-content-empty{
  color:#A3A3A0 !important
}

.project-content-cards{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 435px;

}

.cards{
  width: 128px;
  height: 155px; 
  display: flex;
  flex-flow: column nowrap;
  background: #FFFFFF;
  border-radius: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}

.cards-text{
  width: 100%;
  height: 48%;
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
}

.card-text-tittle {
  font-size: 16px;
  line-height: 18px;
  font-feature-settings: 'ss01' on;
  color: #323232;
  font-weight: bold;
  width: 112px;
  height: 30px;
}

.card-text-info{
  margin: 4px 0;
  font-size: 12px;
  line-height: 25px;
color: #A3A3A0;
}

.cards-img{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
}

.cards-img img{
  object-fit: contain;
  width: 40px;
  height: 42px;
}

.card-empty{
  width: 128px;
  height: 155px;
  display: flex;
  flex-flow: column nowrap;
  background: #A3A3A0;
border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}

.card-empty p{
font-size: 14px;
line-height: 16px;
font-feature-settings: 'ss01' on;
color: #323232;
}

.card-empty svg{
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}